{% extends "base.twig" %}

{% block content %}
	<main id="show">
        <div class="page-header bg-breeze-blue">
            <h2 class="inline-block mar-r-xs">{{ post.post_title }}</h2>
            {% set ageArray = [] %}
            {% for ageGroup in post.get_field('age_group') %}
                
                {% set ages = post.get_field( ageGroup | lower ~ '_ages') %}
           
                
                {% for age in ages %}
                    {% set ageArray = ageArray | merge( [age] ) %}
                {% endfor %}

                {% if ageGroup == "Adults" %}
                    {% set ageArray = ageArray | merge( ['Adults'] ) %}
                {% endif %}
                

            {% endfor %}

            {% for age in ageArray %}
                {% if loop.first %}
                    <h4 class="inline-block">Ages: {{ age }}
                {% endif %}
                {% if loop.last %}
                    - {{ age }}</h4>
                {% endif %}
            {% endfor %}

            

            {% if post.get_field('class_focus') %}
                <p><strong>Class Focus:</strong> {{ post.get_field('class_focus') }}</p>
            {% endif %}

            {% if post.get_field('class_limit') %}
                <p><strong>Class Limit:</strong> {{ post.get_field('class_limit') }}</p>
            {% endif %}

            {% if post.get_field('cost') %}
                <p><strong>Cost:</strong> {{ post.get_field('cost') }}</p>
            {% endif %}
        </div>

        <div class="page-content grid">

            {% for track in post.get_field('tracks') %}
                <div class="five column">
                    <h4 class="mar-b-md">
                    {% for day in track.days %}
                        {{ day | capitalize }}{% if loop.last == false %},{% endif %}  
                    {% endfor %}
                    {% if track.start_time %}, 
                {{ track.start_time }} - 
                {{ track.end_time }}{% endif %}</h4>
                {% for session in track.sessions %}

                    {% if (session.start_date | date('Y-m-d')) < ("now" | date('Y-m-d')) %}
                        {% set over = true %}
                    {% else %}
                        {% set over = false %}
                    {% endif %}
                    <div class="session mar-b-md">
                        <h5>{{ session.title }}</h5>
                        {% if over == true %}<h5 class="color-bloom-red">Registration Closed</h5>{% endif %}
                        <p class="meta color-black">{{ session.start_date | date( "F j") }} - {{ session.end_date | date("F j") }}</p>
                        <p class="meta color-black">{{ session.description }}</p>
                        <p class="meta color-black">Instructor:
                            {% for instructor in session.instructors %}
                                {% for item in instructor %}
                                <a href="{{ item.permalink }}">
                                    {{ item.post_title }} 
                                </a>
                                {% endfor %}
                            {% endfor %}
                        </p>
                    </div>
                {% endfor %}
                </div>
                <div class="one column"></div>
            {% endfor %}
        
            <div class="twelve column">
            {% if post.get_field('registration_link') %}
                <a href="{{ post.get_field('registration_link') }}" class="button">Register Here</a>
            {% endif %}
            </div>

            <div class="twelve column">
                <p class="border-t mar-t-sm pad-t-md"><a href="{{ site.url }}/classes">&laquo; Back to Classes</a></p>
                <p>For more information about the youth education program, please contact Kathleen Rudolph at 919-821-4579, x225.</p>
            </div>
        
        </div>

            <!--<div class="six column">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis sem, fermentum nec turpis quis, porta tristique ex. Pellentesque elementum dolor eu aliquet condimentum. Sed tincidunt, augue ut rutrum dignissim, felis risus ullamcorper ligula, vitae dignissim magna orci quis tortor.</p>

                <p>Based on the fairy tale by Charles Perrault.</p>
                <p>Adaptation and lyrics by Jim Eiler.</p>
                <p>Music by Jim Eiler and Jeanne Bargy.</p>
                <p>Directed by Rod &amp; Nancy Rich.</p>

                <p>Suspendisse ex mauris, imperdiet vel eleifend id, accumsan non ipsum. Pellentesque malesuada semper feugiat. Suspendisse mi dolor, ultrices eu eros sed, pulvinar semper lacus.</p>

                </div>
        </div>-->


    </main>
{% endblock %}