{% extends "base.twig" %}

{% block content %}
	<main id="show">
        <div class="show-header">
            <div class="bg-image" style="background-image:url( {{ post.get_field('promo_image').sizes.1200 }} );"></div>
            <!--<div class="show-navigation">
                <a href="#" class="prev button inverse">Previous</a>
                <a href="#" class="next button inverse">Next</a>
            </div>-->
            <div class="content grid wrapper">
                <div class="eight column">
                    <h5 class="color-rose-purple">{{ post.get_field('event') }}</h5>
                    <h2 class="color-bloom-red">{{ post.title }}</h2>
                    <p class="meta">{{ post.get_field('start_date') }} - {{ post.get_field('end_date') }}</p>
                    <p class="meta">{{ post.get_field('venue') }} {% if post.get_field('reserved') %}(Reserved Seating){% endif %}</p>
                    <hr class="dash" />
                </div>
                {% if post.ticket_url %}
                    <div class="four column">
                        <a href="#" class="button">Buy Tickets</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="show-content grid wrapper">

            <div class="seven column dynamic-content">
                {{ post.get_field('show_information') }}
                {{ post.get_field('additional_information') }}
            </div>

            <div class="one column"></div>

            <div class="four column">

                <h4>Ticket Information</h4>

                {{ post.get_field('ticket_information') }}

            </div>
        </div>

        {% set gallery = post.get_field('photo_gallery') %}

        {% if gallery %}

        <a class="photo-gallery" href="#" style="background-image: url({{ gallery[0].sizes.1200 }});">
            <header class="bg-bloom-red">
                <h3 class="color-white">
                Photo Gallery
                </h3>
            </header>
            <span><h2>View &rarr;</h2></span>
            <div class="grid">
                <div class="four column"></div>
                <div class="four column"></div>
                <div class="four column"></div>
            </div>
        </a>


            {% set gallery = post.get_field('photo_gallery') %}
            <div class="fotorama" data-auto="false" data-width="100%" data-ratio="1.333">
                {% for image in gallery %}
                    <img src="{{ image.sizes.1600 }}" data-caption="{{ image.caption }}" />
                {% endfor %}
            </div>
        {% endif %}
        
        {% set castList = post.get_field('cast_list') %} 
        {% set wheelchair = post.get_field('wheelchair') %}
        {% set assistive = post.get_field('assistive') %}
        {% set audio = post.get_field('audio') %}
        {% set asl = post.get_field('asl') %}

        {% if ( castList or wheelchair or assistive or audio or asl ) %}
        <div class="grid wrapper pad-xl">
            {% if castList %}
                <div class="eight column dynamic-content cast-list">
                    <h3 class="color-rose-purple mar-b-md">Cast List</h3>
                    {% for role in castList %}
                    <dl>
                        <dt>{{ role.position }}</dt> 
                        <dd>{{ role.name }}</dd>
                    </dl>
                    {% endfor %}
                </div>
            {% endif %}

           {% if ( wheelchair or assistive or audio ) %}

            <div class="four column dynamic-content">  
                <h3>Accessibility Information</h3>

                <ul>
                    {% if wheelchair %}<li>{{ wheelchair }}</li> {% endif %}
                    {% if assistive %}<li>{{ assistive }}</li> {% endif %}
                    {% if audio %}<li>{{ audio }}</li> {% endif %}
                    {% if asl %}<li>{{ asl }}</li> {% endif %}
                </ul>
            </div>

            {% endif %}
        </div>
        {% endif %}

        
        {% include 'partials/pagination-promo.twig' %}

        
    </main>
{% endblock %}