<footer class="site-footer">

    <nav class="footer-nav grid">
        <ul class="three column">
                {% for item in footer_nav_1.get_items %}
                    <li class="col-container">
                        <a href="{{ item.get_path }}" class="col-head">{{ item.title }}</a>
                        
                        {% for child in item.children %}
                            {% if loop.first %}<ul>{% endif %}
                                <li>
                                    <a href="{{ child.get_path }}">{{ child.title }}</a>
                                </li>
                            {% if loop.last %}</ul>{% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}

        </ul>

        <ul class="three column">

                {% for item in footer_nav_2.get_items %}
                    <li class="col-container">
                        <a href="{{ item.get_path }}" class="col-head">{{ item.title }}</a>
                        
                        {% for child in item.children %}
                            {% if loop.first %}<ul>{% endif %}
                                <li>
                                    <a href="{{ child.get_path }}">{{ child.title }}</a>
                                </li>
                            {% if loop.last %}</ul>{% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
        </ul>

        <ul class="three column">
                {% for item in footer_nav_3.get_items %}
                    <li class="col-container">
                        <a href="{{ item.get_path }}" class="col-head">{{ item.title }}</a>
                        
                        {% for child in item.children %}
                            {% if loop.first %}<ul>{% endif %}
                                <li>
                                    <a href="{{ child.get_path }}">{{ child.title }}</a>
                                </li>
                            {% if loop.last %}</ul>{% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
        </ul>

        <ul class="three column">
                {% for item in footer_nav_4.get_items %}
                    <li class="col-container">
                        <a href="{{ item.get_path }}" class="col-head">{{ item.title }}</a>
                        
                        {% for child in item.children %}
                            {% if loop.first %}<ul>{% endif %}
                                <li>
                                    <a href="{{ child.get_path }}">{{ child.title }}</a>
                                </li>
                            {% if loop.last %}</ul>{% endif %}
                    {% endfor %}
                    </li>
                {% endfor %}
        </ul>

        <p class="twelve column copyright">&copy; 2017. Raleigh Little Theatre  |  Site design by <a href="http://newkind.com">New Kind</a></p>
    </nav>

</footer>