{% if options.activate_alert_bar %}
	{% if options.alert_bar_link %}
	<a href="{{ options.alert_bar_link }}" class="alert-banner-link">
	{% endif %}
		<div class="alert-banner">
			<h5>{{ options.alert_bar_text }} {% if options.alert_bar_link %}&rarr;{% endif %}</h5>
		</div>
	{% if options.alert_bar_link %}
	</a>
	{% endif %}
{% endif %}

<header class="site-header">
		{#{% block header %}#}
			<div>
				
				<a class="logo" href="{{ site.url }}" rel="home">{{ site.name }}</a>

				<div class="nav-wrapper">
				
					<nav class="primary-nav" role="navigation">
                	    <ul>
                	        {% for item in primary_nav.get_items %}
                	            <li><a href="{{ item.get_path }}">{{ item.title }}</a></li>
                	        {% endfor %}
                	    </ul>
					</nav><!-- #nav -->
				
					<nav class="utility-nav" role="navigation">
						<ul>
							<li class="{{ item.classes | join(' ') }}">
								<a href="#" class="search-link">Search</a>
								<form class="search-form" role="search" method="get" action="{{site.url}}">
									<input type="text" class="form-control" name="s" placeholder="Search">
                        			<input type="submit" value="Go" />
                      			</form>
							</li>
							 
                    	
                	        {% for item in utility_nav.get_items %}
                	            <li><a href="{{ item.get_path }}">{{ item.title }}</a></li>
                	        {% endfor %}
						</ul>
					</nav>

				</div>

				<a href="#" class="mobile toggle-nav">Menu</a>

			</div>
		{#{% endblock %}#}
</header>