{% extends "base.twig" %}

{% block content %}
<main id="front-page">

    <div class="grid promos">


        {% for promo in post.get_field('promos') %}
        {% set content = promo.content %}

            {% if loop.first %}
                <a class="promo primary" href="{{ content.permalink }}">
            {% else %}
                <a class="promo secondary" href="{{ content.permalink }}">
            {% endif %}

                <header>
                    <h3 class="title">{{ content.title }}</h3>
                    <p class="meta dates">{{ content.start_date | date('M d') }} &ndash; {{ content.end_date | date('M d') }}</p>
                </header>
                <span class="promo-hover">
                    {% set type = content.post_type %}

                        {% if type == 'shows' %}
                            <p>{{ content.show_information }}</p>
                        {% elseif type == 'events'  %}
                            <p>{{ content.event_information }}</p>
                        {% endif %}
                </span>
                <div class="promo-bg" style="background-image: url({{ content.get_field('promo_image').sizes.1200 }});"></div>
            </a>

            {% if loop.first %} <div class="secondary-container"> {% endif %}
            {% if loop.last %}
            </div><!--.secondary-container-->
            {% endif %}

        {% endfor %}

    </div><!--.promos-->
    
    <div class="grid frames">

        {% set links = post.get_field('links') %}

        {% for link in links %}

        {% set class = "" %}
        {% if loop.index == 2 %}{% set class = "purple" %}{% endif %}
        {% if loop.index == 3 %}{% set class = "green" %}{% endif %}

        <div class="four column frame {{ class }}" style="background-image:url({{ link.image.sizes.800 }});">
            <header>
                <h3 class="title">{{ link.text }}</h3>
            </header>
            <div class="buttons centered">
                <a href="{{ link.link }}" class="inverse button">{{ link.button_text }}</a>
            </div>
        </div>

        {% endfor %}

    </div><!--.frames-->

    {% include 'partials/bulletin.twig' %}

   
        {% set sponsors = post.get_field('sponsors') %}
        {% if sponsors %}
        <div class="grid sponsors">
            <h4 class="title twelve column text centered color-bloom-red">Raleigh Little Theatre thanks its generous season sponsors</h4>
            <div class="eight column grid centered">
        {% for item in sponsors %}
        {% set sponsor = item.sponsor %}
            <a href="{{ sponsor.url }}" target="_blank" style="background-image: url({{ TimberImage(sponsor.logo).src }});"></a>
        {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

</main><!--#front-page-->

{% endblock %}