{% extends "base.twig" %}

{% block content %}
{{ testid }}
<main id="shows-and-events">
    <div class="page-header bg-breeze-blue">
        <h1>Classes</h1>
    </div>
    <div class="filter pad-l-md">
        <form>
            <label for="locations">Location</label>
            <select name="locations" style="width: 20em;">
                <option value="all">All</option>
                {% for location in locations %}
                    <option value="{{ location.slug }}">{{ location.name }}</option>
                {% endfor %}
            </select>

            <label for="age-group">Age Range</label>
            <select name="age-group" data-ctrl="ages">
                <option value="all">All</option>
                {% for group in acf.age_group.choices %}
                    <option value="{{ group|lower }}">{{ group }}</option>
                {% endfor %}
            </select>

            <label for="kids" data-listen="ages" data-show="kids">Kids Ages</label>
            <select name="kids" data-listen="ages" data-show="kids" multiple style="width: 14em;">
                {% for age in kids_ages.choices %}
                    <option value="{{ age }}">{{ age }}</option>
                {% endfor %}
            </select>

            <label for="teens" data-listen="ages" data-show="teens">Teens Ages</label>
            <select name="teens" data-listen="ages" data-show="teens" multiple style="width: 14em;">
                {% for age in teens_ages.choices %}
                    <option value="{{ age }}">{{ age }}</option>
                {% endfor %}
            </select>

            <label for="types">Class Type</label>
            <select name="types">
                <option value="all">All</option>
                {% for type in types %}
                    <option value="{{ type.slug }}">{{ type.name }}</option>
                {% endfor %}
            </select>

        </form>

    </div>
    
    <div class="list grid page-content">
        
    {% for post in posts %}
        {% set ages, dataAges, dataAgeGroup, dataLocations, dataTypes = [], [], [], [], [] %}
        
        
        {% for ageGroup in post.get_field('age_group') %}    
            {% set dataAgeGroup = dataAgeGroup | merge ([ ageGroup | lower ]) %}
        {% endfor %}
 
        {% for group in dataAgeGroup %}
            {% set ages = ages | merge ( [ post.get_field( group | lower ~ '_ages') ] ) %}
        {% endfor %}
        

        {% for term in post.terms('locations') %}
            {% set dataLocations = dataLocations | merge ([ term.slug ]) %}
        {% endfor %}

        {% for term in post.terms('types') %}
            {% set dataTypes = dataTypes | merge ([ term.slug ]) %}
        {% endfor %}

        {% set ageString = '' %}

        {% if ages[0] is not empty %}
        
            {% for groups in ages %}

                {% if groups is not empty %}

                    {% set ageString = ageString ~ ( groups | join(',') )  %}

                {% endif %}

            {% endfor %}

        {% else %}

            {% set ageString = '18+' %}

        {% endif %}

        
        <div class="six column class-listing" 
            data-ages="{{ ageString }}" 
            data-age-group="{{ dataAgeGroup | join(',') }}"
            data-types="{{ dataTypes | join(',') }}"
            data-locations="{{ dataLocations | join(',') }}">
            <div class="content">
                <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
                {% if ages %}
                <p class="meta">Ages
                {% for age in ageString | split(',') %}

                    {% if ( loop.first ) %}
                        {{ age }} 
                    {% elseif ( loop.last ) %}
                        &ndash; {{ age }}
                    {% endif %}

                {% endfor %}
                </p>
                {% endif %}
                <p class="meta">
                    {% for location in post.terms('locations') %}
                        {{ location }}
                    {% endfor %} 
                </p>
                <p class="meta">
                    {% for type in post.terms('types') %}
                        {{ type }}
                    {% endfor %}
                </p>
                <p class="meta">{{ post.cost }}</p>
                
                <hr class="dash" />
                
                <p>{{ post.class_focus }}</p>
            </div>
        </div>
    {% endfor %}


    <!--<div class="list grid page-content">
        <div class="list-item six column">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_kids.jpg);"></div>
            <div class="content">
                <h3>For Kids</h3>
                <p class="meta">Ages 4-12</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item six column">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_teens.jpg)"></div>
            <div class="content">
                <h3>For Teens</h3>
                <p class="meta">Ages 13-18</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item six column">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_adults.jpg)"></div>
            <div class="content">
                <h3>For Adults</h3>
                <p class="meta">Ages 18+</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
    </div>-->
</main>
{% endblock %}