{% extends "base.twig" %}

{% block content %}
<main id="visit-us">
    <div class="page-header bg-lawn-green">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>

    <div class="grid frames">

    {% for link in post.get_field('tiled_links') %}

     

        <div class="four column frame {{ link.tile_color }}" style="background-image: url( {{ link.image.sizes.800 }} )">
            <header>
                <h3 class="title">{{ link.text }}</h3>
            </header>
            <div class="buttons centered">
                <a href="{{ link.link_url }}" class="inverse button">{{ link.button_text }}</a>
            </div>
        </div>


    {% endfor %}

     <!--   <div class="four column frame blue">
            <header>
                <h3 class="title">Contact</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame purple">
            <header>
                <h3 class="title">Rose Garden</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame green">
            <header>
                <h3 class="title">Accessibility</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame maroon">
            <header>
                <h3 class="title">Office Hours</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame black">
            <header>
                <h3 class="title">Maps &amp; Directions</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame red">
            <header>
                <h3 class="title">Seating Charts</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>-->

    </div>

    {% set ctaColors = {
        'primary': 'rose-purple', 
        'secondary' : 'breeze-blue' 
        }
    %}

    {% include 'partials/bulletin.twig' with ctaColors %}

</main> 
{% endblock %}