{% extends "base.twig" %}

{% block content %}
<main id="classes">
    <div class="page-header bg-breeze-blue">
        <h1>Classes</h1>
        {{ post.content }}
        <!--<p>The goal of RLT's Education Program is to provide high quality theatre arts instruction in a safe nurturing environment.</p>
        <p>RLT is dedicated to the belief that theatre training promotes self-esteem, builds confidence, stimulates creativity, sharpens communication skills, fosters an appreciation of team work, raises cultural awareness, celebrates diversity, encourages respect for self and others and lays the foundation for a lifelong love of the arts. The study of theatre not only trains students to be better actors, it inspires them to be better people.</p>-->
    </div>

    {% include 'partials/list-with-images.twig' %}


<!--
        <div class="list-item">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_kids.jpg);"></div>
            <div class="content">
                <h3>For Kids</h3>
                <p class="meta">Ages 4-12</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_teens.jpg)"></div>
            <div class="content">
                <h3>For Teens</h3>
                <p class="meta">Ages 13-18</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_adults.jpg)"></div>
            <div class="content">
                <h3>For Adults</h3>
                <p class="meta">Ages 18+</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/for_schools.jpg)"></div>
            <div class="content">
                <h3>For Schools</h3>
                <hr class="dash" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
        <div class="list-item">
            <div class="image" style="background-image: url({{ theme.link }}/images/classes/camps.jpg)"></div>
            <div class="content">
                <h3>Camps</h3>
                <hr class="dash" />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>-->

    {% include 'partials/bulletin.twig' %}

    <!--

    <div class="grid bulletin">
    
        <div class="primary bg-lawn-green">

            <header>
                <p class="eyebrow">General Info</p>
                <h2 class="title quote">Learn more about Raleigh Little Theatre&rsquo;s education programs</h2>
            </header>

            {#<div class="buttons centered">#}
                <a href="#" class="inverse button ">Our Education Programs</a>
            {#</div>#}

        </div>

        <div class="secondary bg-breeze-blue">

            <header>
                <p class="eyebrow">Meet the Educators</p>
                <h2 class="title quote">Learning from the best teachers in Raleigh</h2>
            </header>

            {#<div class="buttons centered">#}
                <a href="#" class="inverse button">Our Faculty</a>
            {#</div>#}

        </div>

        <div class="feed">
            <header>
                <p class="eyebrow has-squiggle"><span class="bg-cool-grey">Forms &amp; Downloads</span></p>
            </header>
            <article>
                <h6 class="title"><a href="#">Online Registration</a></h6>
                <p>Find classes and register all online!</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Scholarship Application Form (DOC)</a></h6>
                <p>We have partial scholarships for all classes taught at the RLT location.</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Youth Registration Forms (PDF)</a></h6>
                <p>2016-2017 school-year Youth Education Program</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Adult Registration Forms (DOC)</a></h6>
                <p>2016-2017 Adult Education Program</p>
            </article>
            <article>
                <h6 class="title"><a href="#">2016-2017 Youth Education Brochure (PDF)</a></h6>
                <p>Registration is now open for all of RLT&rsquo;s classes this season! This year, we will continue to offer fundamental classes like Beginning Acting...</p>
            </article>

            <a href="#" class="button">More News</a>
        </div>

    </div><!--.bulletin-->
</main>
{% endblock %}