{% extends "base.twig" %}

{% block content %}
<main id="our-staff">
    <div class="page-header bg-rose-purple">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
    </div>
    
    <section class="prod-staff pad-t-lg">
        <h3 class="staff-titles text centered has-squiggle"><span class="bg-cool-grey color-bloom-red">Staff</span></h3>


        <div class="list with-images grid">
        
        {% for person in production %}
            <a class="list-item" href="{{ person.link }}">
                <div class="image" style="background-image: url( {{ person.get_field('headshot').sizes.medium }});"></div>
                <div class="content">
                    <h4 class="color-black">{{ person.title }}</h4>
                    <p class="meta">{{ person.get_field('title') }}</p>
                </div>
            </a>
        {% endfor %}
    </section>

    <section class="ed-staff">
        <h3 class="staff-titles text centered has-squiggle"><span class="bg-cool-grey color-bloom-red">Educational Faculty</span></h3>


        <div class="list with-images grid">
        
        {% for person in instruction %}
            <a class="list-item" href="{{ person.link }}">
                <div class="image" style="background-image: url( {{ person.get_field('headshot').sizes.medium }});"></div>
                <div class="content">
                    <h4 class="color-black">{{ person.title }}</h4>
                    <p class="meta">{{ person.get_field('title') }}</p>
                </div>
            </a>
        {% endfor %}
    </section>

    <section class="board">    
        <h3 class="staff-titles text centered has-squiggle"><span class="bg-cool-grey color-bloom-red">Board of Directors</span></h3>
        <div class="list with-images grid">
            {% for person in board %}
            <a class="list-item" href="{{ person.link }}">
                <div class="image" style="background-image: url( {{ person.get_field('headshot').sizes.medium }});"></div>
                <div class="content">
                    <h4 class="color-black">{{ person.title }}</h4>
                    <p class="meta">{{ person.get_field('title') }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <section class="members pad-b-xl">
        <h3 class="staff-titles text centered has-squiggle mar-b-lg"><span class="bg-cool-grey color-bloom-red">Members At-Large</span></h3>
            <div class="eight column grid centered">
            {% for person in large %}
            {#<a class="list-item four column" href="{{ person.link }}">#}
                <div class="content list-item four column" style="padding: .5em 1em">
                    <h4 class="color-black">{{ person.title }}</h4>
                    <p class="meta">{{ person.get_field('title') }}</p>
                </div>
            {#</a>#}
            {% endfor %}
        </div>
    </section>
    
</main>
{% endblock %}