{% extends "base.twig" %}

{% block content %}
<main id="{{ post.title }}">
    <div class="page-header bg-rose-purple">
        <h1>Shows &amp; Events</h1>
        {{ post.content }}
        <!--
        <p>This is a Season of Discovery at Raleigh Little Theatre!</p>
        <p>Nine of the eleven shows, including all of the adult plays, will be produced for the first time in our 80 year history. We invite you to share in these stories that include characters ranging from a pioneering radio DJ, to a young girl who will do anything to fly, to a puppet looking for his place in the world. This season is full of opportunities to discover more about who we are.</p>
        <p>&ndash; Patrick Torres, Artistic Director</p>-->
    </div>


    <div class="list with-images">

        {% for item in posts %} 

            {% if item.end_date | date("Y-m-d") > "now" | date("Y-m-d" ) %}
        
        <div class="list-item">

            {% set promoImage = item.get_field('promo_image').sizes.large %}
    
            <a href="{{ item.link }}" class="image" style="background-image:url({{ promoImage }});"></a>
            <div class="content">
                {% if item.post_type == "events" %}
                    <h5>Event - {{ item.event_type }}</h6>
                {% else %}
                    <h5>{{ item.show_type }}</h5>
                {% endif %}
                <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
                <p class="meta">{{ item.get_field('start_date') }}
                    {% if item.end_date != item.start_date %}
                         - {{ item.get_field('end_date') }}
                    {% endif %}
                </p>
                <hr class="dash" />
                {% if item.post_type == "events" %}
                    <p>{{ item.event_information }}</p>
                {% else %}
                    <p>{{ item.show_information }}</p>
                {% endif %}
            </div>
        </div>
            {% endif %}

        {% endfor %}

    </div>

    <h3 class="has-squiggle color-bloom-red centered mar-t-lg mar-b-lg"><span class="bg-cool-grey">Past Shows &amp; Events</span></h3>

    <div class="list with-images">

        {% for item in posts %} 

            {% if item.end_date | date("Y-m-d") < "now" | date("Y-m-d" ) %}
        
        <div class="list-item">

            {% set promoImage = item.get_field('promo_image').sizes.large %}
    
            <a href="{{ item.link }}" class="image" style="background-image:url({{ promoImage }});"></a>
            <div class="content">
                {% if item.post_type == "events" %}
                    <h5>Event - {{ item.event_type }}</h6>
                {% else %}
                    <h5>{{ item.show_type }}</h5>
                {% endif %}
                <h3><a href="{{ item.link }}">{{ item.title }}</a></h3>
                <p class="meta">{{ item.get_field('start_date') }}
                    {% if item.end_date != item.start_date %}
                         - {{ item.get_field('end_date') }}
                    {% endif %}
                </p>
                <hr class="dash" />
                {% if item.post_type == "events" %}
                    <p>{{ item.event_information }}</p>
                {% else %}
                    <p>{{ item.show_information }}</p>
                {% endif %}
            </div>
        </div>
            {% endif %}

        {% endfor %}


        <!--<div class="list-item">
            <a href="{{ site.url }}/shows/cinderella" class="image" style="background-image:url({{ theme.link }}/images/shows/cinderella_cover.jpg);"></a>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3><a href="{{ site.url }}/shows/cinderella">Cinderella</a></h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance to add the sparkle of magic to your holiday season. A visually stunning musical combining elegant costumes and scenery with song, dance, conniving step-relatives and resourceful fairy-folk.</p>
            </div>
        </div>

        <div class="list-item">
            <a href="#" class="image" style="background-image:url({{ theme.link }}/images/shows/the_whipping_man.jpg);"></a>
            <div class="content">
                <h5>Historical Drama / City Series</h5>
                <h3><a href="#">The Whipping Man</a></h3>
                <p class="meta">Jan 13 - Jan 29</p>
                <hr class="dash" />
                <p>The Civil War is over. Throughout the South, slaves are being freed and soldiers are returning home. In one home, the annual celebration of Passover is celebrated by a young Confederate officer, who has been severely wounded, and two former slaves. However, the pain of enslavement will not be soothed by this tradition. Deeply buried secrets from the past refuse to be hidden forever, as the play comes to its thrilling conclusion.</p>
            </div>
        </div>

        <div class="list-item">
            <a href="#" class="image" style="background-image:url({{ theme.link }}/images/shows/a_piece_of_my_heart.jpg);"></a>
            <div class="content">
                <h5>Historical Drama / Sutton Series</h5>
                <h3><a href="#">A Piece of My Heart</a></h3>
                <p class="meta">May 5 - May 21</p>
                <hr class="dash" />
                <p>A powerful, true drama of six women who went to Vietnam: five nurses and a country-western singer. The latter is booked to entertain the troops by an unscrupulous agent. Follow each young woman’s story before, during, and after her tour in the war-torn nation. It was named “The most enduring play on Vietnam in the nation,” by The Vietnam Vets Association.</p>
            </div>
        </div>

        <div class="list-item">
            <a href="#" class="image" style="background-image:url({{ theme.link }}/images/shows/avenue_q.jpg);"></a>
            <div class="content">
                <h5>Musical / City Series</h5>
                <h3><a href="#">Avenue Q</a></h3>
                <p class="meta">June 2 - June 18</p>
                <hr class="dash" />
                <p>Recent college grad, Princeton, moves into a shabby New York apartment all the way out on Avenue Q. Along with his new friends, Princeton struggles to find a job, date, and discover an ever-elusive purpose in life. Filled with gut-busting humor and a delightfully catchy score, not to mention puppets, this truly unique show has quickly become a favorite for audiences everywhere.</p>
            </div>
        </div>-->
    </div>

    {% set ctaColors = {
            'primary': 'lawn-green',
            'secondary': 'breeze-blue'
        }
    %}
    
    {% include 'partials/bulletin.twig' with ctaColors %}

</main>
{% endblock %}