{% extends "base.twig" %}

{% block content %}

<main id="{{ post.title }}">
	<div class="page-header bg-breeze-blue">
		<h1>{{ post.title }}</h1>
	</div>
	<article class="dynamic-content">
        <p>Raleigh Little Theatre thanks the following organizations. These organizations, and hundreds of individuals, support our mission of using theatre to enrich, educate, entertain and engage volunteers, students, and audiences of all ages.</p>
        
        {% if season_sponsors %}
        <h3>Season Sponsors</h3>
        <div class="grid sponsors">
        

        
            {% for item in season_sponsors %}
                {% set sponsor = item.sponsor %}
                <a href="{{ sponsor.url }}" target="_blank" style="background-image: url({{ TimberImage(sponsor.logo).src }});"></a>
            {% endfor %}
        </div>

        {% endif %}

		{{ post.content }}
	</article>
    
	{% set ctaColors = {
        'primary': 'rose-purple', 
        'secondary' : 'breeze-blue' 
        }
    %}

    {% include 'partials/bulletin.twig' with ctaColors %}

</main>

{% endblock %}